@charset "utf-8";
div#wrapper {
    height: 1000px;
    background-color: #ccc;
    width: 30%;
    margin: 0 auto;
    padding: 50px;
}
h1 {
    text-align: center;
    margin-top: 0;
}
div#restaurant_list {
    height: 300px;
    background-color: white;
    border: solid 1px red;
    margin-bottom: 40px;
}
div#food_list {
    height: 300px;
    background-color: white;
    border: solid 1px blue;
}